*.qmlc
.qmlls.ini

__pycache__/
*.pyc
.venv/

data/secrets.json
data/credentials.json
data/config.json
data/apps.json

piixgate/
qml/SmartHome.qml
qml/Lockscreen.qml
qml/components/PasswordCard.qml
scripts/bash/setup-piixgate
scripts/bash/lockscreen-hide-windows
scripts/bash/we-lockscreen-mode
scripts/bash/check-password
scripts/python/greetd-login

ext/matugen/templates/*.generated

.idea/
.DS_Store
